#language: R
#sudo: required
#dist: precise
#warnings_are_errors: false
#
#r_packages:
#  - rmarkdown
#  - knitr
#  - ggplot2
#  - MASS
#
#r_github_packages:
#  - jimhester/covr

# Use container-based Travis with caching

languague: c
sudo: false

addons:
  apt:
    sources:
    - r-packages-precise
    packages:
    - r-base-dev
    - r-recommended
    - texinfo
    
cache:
  directories:
    - ~/Rlib     # R libraries
    - ~/texlive  # LaTex 
    - ~/bin      # pandoc 

# install dependencies
install:
  # Save R packages in Rlib
  - mkdir -p ~/Rlib
  - echo 'R_LIBS=~/Rlib' > .Renviron
  - echo 'options(repos = "http://cran.rstudio.com")' > .Rprofile
  - mkdir -p ~/.R
  - grep '\-g'  /etc/R/Makeconf | sed 's/-g//g' > ~/.R/Makevars # Turn off debug symbols
  # Build LaTex and pandoc
  - mkdir -p ~/bin
  - wget -q -O - https://github.com/yihui/crandalf/raw/master/inst/scripts/install-texlive | bash
  - wget -q -O - https://github.com/yihui/crandalf/raw/master/inst/scripts/install-pandoc | bash
  # Install R packages
  - Rscript -e "if (!require('rmarkdown')) install.packages('rmarkdown')"  
  - Rscript -e "if (!require('knitr')) install.packages('knitr')"    
  - Rscript -e "if (!require('ggplot2')) install.packages('ggplot2')"    
  - Rscript -e "if (!require('MASS')) install.packages('MASS')" 
  - Rscript -e "if (!require('stringi')) install.packages('stringi')"       
#  - Rscript -e "library(stringi); stri_install_icudt()"    
  
#before_script:
#  - sudo Rscript -e "library(stringi); stri_install_icudt()"
  
 # Build and check package
script:
  - R CMD build . --no-build-vignettes --no-manual
  - PKG_FILE_NAME=$(ls -1t *.tar.gz | head -n 1)
  - PKG_NAME=$(ls -1t *.tar.gz | head -n 1 | sed 's/_.*gz//')
  - _R_CHECK_CRAN_INCOMING_=FALSE R CMD check "${PKG_FILE_NAME}" --no-build-vignettes --no-manual --as-cran
  - cat ${PKG_NAME}.Rcheck/00install.out # Print out install / compile log 

after_success:
  - Rscript -e 'covr::codecov()'
  # Rebuild docker container
  - curl --data "build=true" -X POST https://registry.hub.docker.com/u/ohdsi/development/trigger/e51f720d-c4e7-45df-b042-5d8a362bd7e0/
  # Rebuild drat repo
#  - test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash deploy_container.sh
  
notifications:
  recipients:
    - msuchard@gmail.com
    - schuemie@ohdsi.org
  email:
    on_success: change
    on_failure: change
    
env:
  global:
    secure: clBIB1ryoj28wttYw5YQClr4wTNw/s2rqs0OzjnvdnD3NAONxMz+8CXR7cmHow5nQ211J/zKP/+wnd8x0oCId2cJT2a8Kp99bjAMs6q0hvjAUBxmYQgQAJ3VQ8PNTXB4WglDimXPSJfYdExo3mqbQozWnqx9pu7Z+029/M7+h+M=